<html>

<head>
    <title>Cart</title>
</head>

<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Your Cart</span>
            <span fxFlex></span>
            <button mat-icon-button color='secondary'>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <ul style="list-style-type: none;">
            <li *ngFor="let item of cart_items">
                <mat-card style="margin: 10px;">
                    <mat-card-header>
                      <mat-card-title>{{item.product}}</mat-card-title>
                      <mat-card-subtitle>{{item.cost}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                      <button mat-raised-button color='primary'>Remove From Cart</button>
                    </mat-card-actions>
                  </mat-card>
            </li>
        </ul>
    </div>
</body>

</html>