<html>

<head>
    <title>SmartBasket</title>
</head>

<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>SmartBasket</span>
            <span fxFlex></span>
            <button mat-icon-button color='secondary'>
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button color='secondary'>
                <mat-icon>person</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</body>

</html>